.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  background-color: transparent;
  border: 1px solid #d7d7d7;
  margin: 5px 6px;
  opacity: 1;
}

.swiper-pagination-bullet:hover {
  border-color: #cccccc;
  background: #cccccc;
}

.swiper-pagination-bullet-active {
  width: 18px;
  border-color: #cccccc;
  background: #cccccc;
  border-radius: 30px;
}
.gallery-slider .swiper-pagination-bullet:hover,
.gallery-slider .swiper-pagination-bullet-active {
  border-color: #c96;
  background: #c96;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 20px;
}

.gallery-slider .swiper, .gallery-slider .swiper-wrapper {
  width: auto;
  max-width: 100%;
}

.gallery-slider-thumbnail-vertical .swiper-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .swiper-pagination {
    display: none;
  }

  .gallery-slider .swiper-pagination {
    display: block;
  }
}


